{
    "swagger": "2.0",
    "info": {
        "title": "Laravel",
        "description": "Receipt API",
        "version": "1.0.1"
    },
    "host": "alumaracoffe.com\/Receipts\/public",
    "basePath": "\/",
    "paths": {
        "\/api\/docs": {
            "get": {
                "summary": "Display Swagger API page.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "docs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/oauth2-callback": {
            "get": {
                "summary": "Display Oauth2 callback pages.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "oauth2-callback"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/auth\/login": {
            "post": {
                "summary": "Get a JWT via given credentials.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "auth"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "email",
                                "password"
                            ],
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/auth\/logout": {
            "post": {
                "summary": "Log the user out (Invalidate the token).",
                "description": "",
                "deprecated": false,
                "tags": [
                    "auth"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/auth\/refresh": {
            "post": {
                "summary": "Refresh a token.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "auth"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/auth\/me": {
            "post": {
                "summary": "Get the authenticated User.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "auth"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/User\/profile": {
            "get": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/Department": {
            "get": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Department"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Department"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/Department\/{Department}": {
            "get": {
                "summary": "Display the specified resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Department"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Department",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            },
            "put": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Department"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Department",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "patch": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Department"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Department",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Department"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Department",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/Role": {
            "get": {
                "summary": "Display a listing of the resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Store a newly created resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "department_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "department_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/Role\/{Role}": {
            "get": {
                "summary": "Display the specified resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Role",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            },
            "put": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Role",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "department_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "department_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            },
            "patch": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Role",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "department_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "department_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "summary": "Remove the specified resource from storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Role",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/ItemMainCategory": {
            "get": {
                "summary": "Display a listing of the resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemMainCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Store a newly created resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemMainCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/ItemMainCategory\/{ItemMainCategory}": {
            "get": {
                "summary": "Display the specified resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemMainCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemMainCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            },
            "put": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemMainCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemMainCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "patch": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemMainCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemMainCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "summary": "Remove the specified resource from storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemMainCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemMainCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/ItemCategory": {
            "get": {
                "summary": "Display a listing of the resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Store a newly created resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code",
                                "item_main_category_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "item_main_category_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/ItemCategory\/{ItemCategory}": {
            "get": {
                "summary": "Display the specified resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            },
            "put": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code",
                                "item_main_category_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "item_main_category_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            },
            "patch": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code",
                                "item_main_category_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "item_main_category_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "summary": "Remove the specified resource from storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ItemCategory"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "ItemCategory",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/Item": {
            "get": {
                "summary": "Display a listing of the resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Store a newly created resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code",
                                "unit",
                                "item_category_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "unit": {
                                    "type": "string"
                                },
                                "is_default_unit": {
                                    "type": "boolean"
                                },
                                "item_category_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/Item\/{Item}": {
            "get": {
                "summary": "Display the specified resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Item",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            },
            "put": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Item",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code",
                                "unit",
                                "item_category_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "unit": {
                                    "type": "string"
                                },
                                "is_default_unit": {
                                    "type": "boolean"
                                },
                                "item_category_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            },
            "patch": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Item",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "code",
                                "unit",
                                "item_category_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "unit": {
                                    "type": "string"
                                },
                                "is_default_unit": {
                                    "type": "boolean"
                                },
                                "item_category_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "summary": "Remove the specified resource from storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Item",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/ReceiptType\/count\/{date}": {
            "get": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "ReceiptType"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "date",
                        "type": "string",
                        "required": false,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/Receipt\/MyApprovalReceipts": {
            "get": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "\/api\/Receipt\/{type_id}": {
            "get": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "type_id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/Receipt\/{id}\/approveReceipt": {
            "post": {
                "summary": "",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/Receipt": {
            "get": {
                "summary": "Display a listing of the resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Store a newly created resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "items.*.id",
                                "items.*.value"
                            ],
                            "properties": {
                                "receipt_number": {
                                    "type": "string"
                                },
                                "must_approved_by_role_id": {
                                    "type": "integer"
                                },
                                "receipt_type_id": {
                                    "type": "integer"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "items": {
                                    "type": "array",
                                    "items": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "value": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/Receipt\/{Receipt}": {
            "get": {
                "summary": "Display the specified resource.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Receipt",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            },
            "put": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Receipt",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "patch": {
                "summary": "Update the specified resource in storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Receipt",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "summary": "Remove the specified resource from storage.",
                "description": "",
                "deprecated": false,
                "tags": [
                    "Receipt"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "Receipt",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "bearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header",
            "bearerFormat": "JWT",
            "scheme": "bearer"
        }
    }
}
